# Entornos virtuales
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Archivos de cache de Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Configuración del editor (VS Code, etc)
.vscode/
.idea/

# Carpetas de datos pesadas (Imágenes de radiografías)
Training Data/
Testing Data/
data/
dataset/

# Si el modelo (.keras) superara los 100MB, se tendría que ignorar y usar Git LFS,
# pero con ~21MB se puede subir a GitHub sin problema. Si en el futuro agregas 
# modelos más pesados, descomenta la siguiente línea:
# *.keras
# *.h5
